.layout {
  display: flex;
  height: 100vh;
  width: 100vw;  
  transition: margin-left 0.1s ease-in-out;
  background-color: #0c1017;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  background: #0c1017;
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  transition: margin-left 0.1s ease-in-out;
  margin-left: 0;
  overflow-y: auto; 
  height: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.sidebar-open .main-content {
  margin-left: 300px;
}

.sidebar-closed .main-content {
  margin-left: 83px;
}

.toggle-button {
  position: absolute;
  top: 13px;
  left: 300px;
  padding: 0px 1px 4px 0px;
  background-color: #0c1017;
  border: 1px solid #0c1017;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition: left 0.1s ease-in-out;
  height: 40px;
  width: 40px;
  z-index: 1000;
}

.sidebar-closed .toggle-button {
  left: 83px;
  color: #f4f4f4 !important;
  transition: left 0.1s ease-in-out;
}

.sidebar-closed .toggle-button svg {
  color: #f4f4f4 !important;
}

.toggle-button:hover {
  background-color: #1a1a1a;
  border: 1px #595959;
}

.toggle-button:hover svg {
  color:#2187c3 !important;
}

@media (max-width: 768px) {
}